/*body {
  background: #000;
}

h1 {
  color: #FF2734;
}*/

header {
  text-align: center;
  background: url('http://www.vitoriopaulo.com/uploads/2/3/3/1/23317088/2315732_orig.jpeg');
  background-size: cover;
  height: 350px;
  color: #ccff33;
}

ul {
  pading: 10px;
  background: rgba(0,0,0,0.5);
  margin: 140px 0 0 0;
}

.nav-menu {
  display: inline;
  padding: 20px 0 20px 0;
  botton: 0;
  margin: 30px;
  height: 100px;
}

a {
  color: #ccff33;
}

body {
  margin: 0 auto;
  max-width: 600px;
  background: rgb(75,75,75);
  text-align: center;
}

.line1 {
  max-width: 630px;
  height: 10px;
  background-color: gray;
  margin: 0 0 0 0;
}

h1 {
  text-align: center;
  color: #3399ff;
  margin: 0px;
  background: rgba(0,0,0,1);
  font-family: 'Monoton', cursive;
}

p {
color: #ccff33;
  padding: 20px;
  line-height: 28px;
  text-align: justify;
  height: 30px;
  font-family: Montserrat, Avenir, Verdana, Arial;
}

.paragraph-about{
  max-width: 600px;
  margin: 10px 0 0 0;
}

#about {
  color: #3399ff;
  text-align: center;
  font-family: 'Monoton', cursive;
}

.vitorio-about {
  margin: 10px 150px 10px 150px;
  border-color: gray;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  image-position: center;
  image-size: cover;
  width: 300px;
}

.line2 {
  max-width: 600px;
  height: 10px;
  background-color: gray;
  margin: 120px 0 0 0;
}

#portfolio {
  color: #3399ff;
  text-align: center;
  font-family: 'Monoton', cursive;
  margin: 0 0 25px 0;
}

#skills {
  color: #3399ff;
  text-align: center;
  font-family: 'Monoton', cursive;
  margin: 0 0 25px 0;
}

.thumbnail-1 {
  width: 95%;
  height: 50%;
  background-size: cover;
  text-align: center;
  margin: 0em 1em 0em 1em;
}

#line3 {
  max-width: 600px;
  height: 10px;
  background-color: gray;
  margin: 0 0 0 0;
}

#contact {
  color: #3399ff;
  text-align: center;
  font-family: 'Monoton', cursive;
  margin: 0 0 25px 0;
}

.about-scroll {
overflow-y: scroll;
height: 300px;
}

.paragraph-contact {
  max-width: 600px;
  margin: 10px 0 0 0;
}

.portfolio-scroll {
  overflow-y: scroll;
  height: 600px;
}

.e-mail {
  color: #3399ff;
  font-size: 24px;
}

.line4 {
  max-width: 600px;
  height: 10px;
  background-color: gray;
  margin: -20px 0 0 0;
}

.line5 {
  max-width: 600px;
  height: 10px;
  background-color: gray;
  margin: 0 0 0 0;
}

.line6 {
  max-width: 600px;
  height: 10px;
  background-color: gray;
  margin: 0 0 0 0;
}

.icon {
  display: inline;
  padding: 0px 30px 0px 30px;
  botton: 0;
  margin: 17px;
  height: 0px;
}

.icon2 {
  display: inline;
  padding: 0px 25px 0px 25px;
  botton: 0;
  margin: 30px;
  height: 0px;
}

@media (max-width: 600px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: inline;
      }

  .nav-menu {
  display: inline;
  padding: 10px 0 10px 0;
  botton: 0;
  margin: 20px;
  height: 30px;
}


  #portfolio {
  color: #3399ff;
  text-align: center;
  font-family: 'Monoton', cursive;
  margin: 0 25px 0 25px;
}

  p {
    padding: 10px;
  }

  .paragraph-about{
  max-width: 97.5%;
  margin: .25em .25em .25em .25em;
}

   body {
          margin: 0 auto;
        }

  .vitorio-about {
  margin: 10px 30px 10px 30px;
  border-color: gray;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  image-position: center;
  image-size: cover;
  width: 300px;
}

  .thumbnail-1 {
  max-width: 95%;
  max-height: 50%;
  background-size: cover;
    position: centered;
    padding: 25px;
}

.e-mail {
  height: 30px;
}

.name {
  width: 400px;
  height: 30px;
  text-align: justify;
  padding: 20px;
}

  .icon {
  display: inline;
  padding: 0px 12px 0px 12px;
  botton: 0;
  margin: 25px;
  height: 0px;
}

  .line2 {
  max-width: 600px;
  height: 10px;
  background-color: gray;
  margin: 15em 0 0 0;
  }
      }
