/*body {
  background: #000;
}

h1 {
  color: #FF2734;
}*/

header {
  text-align: none;
  height: 350px;
  color: #ccff33;
}



body {
  margin: none;
  max-width: none;
  background: rgb(0,0,0);
  text-align: left;
}


.line1 {
  max-width: none;
  height: 12px;
  background-color: gray;
  margin: 0 0 0 0;
}

.line2 {
  max-width: none;
  height: 48px;
  background-color: rgba(75,75,75,0.7);
  margin: 0 0 0 0;
}


h2 {
  color: rgb(245,245,245);
  text-align: center;
  font-size: 32px;
  font-family: 'Jost', cursive;
  padding-top: 4px;
  padding-bottom: 4px;
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure {
  margin: 0; background: #101010;
  font-family: "jost", cursive;
  font-weight: 100;
  text-align: center;
}
div#captioned-gallery {
  width: 100%; overflow: hidden;
}
figure.slider {
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite;
}
figure.slider figure {
  width: 20%; height: auto;
  display: inline-block;  position: inherit;
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption {
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem;
}


.top {
  margin: 0 0 0 0;
  object-fit: contain;
}


.palms-house {
  margin: 0 0 0 0;
  object-fit: contain;
}

.design {
  margin: 0 0 0 0;
  object-fit: contain;
}

h1 {
  text-align: left;
  color: rgb(245,245,245);
  margin-left: 12px;
  margin-top: 12px;
  background: rgba(0,0,0,1);
  font-family: 'Jost', cursive;
  font-size: 48px;
}



## Space for Paragraph ##



## Space for Paragraph ##


--- DESIGNING FOR MOBILE ---

@media (max-width: 600px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }

      p {
        padding: 10px;
      }

   body {
          margin: 0 auto;
      }


h2 {
  color: rgb(245,245,245);
  text-align: center;
  font-size: 1.5em;
  font-family: 'Jost', cursive;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

  .line2 {
  max-width: 600px;
  height: 2em;
  background-color: rgba(75,75,75,0.9);
  margin: 0 0 0 0;
  }

  .line1 {
  max-width: 600px;
  height: 0.5em;
  background-color: gray;
  margin: 0 0 0 0;
  }
      }
